<div class="yc-container yc-app-container" style="padding:128px 16px" id="webAccess">
  <div class="yc-row-padding yc-main-content">
    <div class="yc-col">

      <h2><a (click)="resetValidation()">YANG Validator</a></h2>
      <h3 *ngIf="rfcNumberValidation">Validating the IETF RFC specified by number</h3>

      <div class="main-options" *ngIf="noFormDisplayed()">
        <p>YANG Validator allows you to fetch, extract and validate the YANG modules. <br>
          What would You like to do?</p>
        <p>I have one or multiple yang files and I want to validate them >> <br>
          I have an Internet Draft file and I want to validate it >> <br>
          <a (click)="showRfcNumberForm()">I know the <strong>number of IETF RFC</strong> and I want to validate it >></a>  <br>
          I know the name of IETF Draft and I want to validate it >><br>
          I want to use the REST API for validating the IETF RFCs >></p>
      </div>

      <!--            <form [formGroup]="rfcFilesForm">-->
      <!--              <div class="mt-10">-->
      <!--                <button class="btn btn-small" (click)="openAttachFileDialog()">Attach files</button>-->
      <!--                <input-->
      <!--                  class="attachment-file-input"-->
      <!--                  type="file"-->
      <!--                  accept="{{ allowedFileTypesString }}"-->
      <!--                  id="input"-->
      <!--                  (change)="onFileChangeHandler($event)"-->
      <!--                  multiple-->
      <!--                  #attachmentFileInput-->
      <!--                />-->
      <!--              </div>-->
      <!--              <div class="error-msg">-->
      <!--                <p *ngIf="displayTooManyFilesErrorMsg">Number of files exceeds the maximum allowed (10)</p>-->
      <!--                <p *ngIf="displayNotValidFileSize">One or more files exceeds the max size of 2MB</p>-->
      <!--                <p *ngIf="displayNotValidFileType">Invalid file type</p>-->
      <!--              </div>-->

      <!--              <div *ngIf="attachments && attachments.length > 0" class="attachment-files">-->
      <!--                <span class="text-sm">(Only attachments under 2 MB are allowed and up to 10 in total)</span>-->
      <!--                <table class="attachments-table-upload">-->
      <!--                  <thead>-->
      <!--                  <tr tabindex="0">-->
      <!--                    <th>Name</th>-->
      <!--                    <th>Size</th>-->
      <!--                    <th></th>-->
      <!--                  </tr>-->
      <!--                  </thead>-->
      <!--                  <tbody>-->
      <!--                  <tr *ngFor="let attachment of attachments" tabindex="0">-->
      <!--                    <td class="col-md-10 col-xs-10">-->
      <!--                      <span>{{ attachment.name }}</span>-->
      <!--                    </td>-->
      <!--                    <td class="col-md-2 col-xs-2">{{ attachment.displayFileSize }}</td>-->
      <!--                    <td class="attachments-trash">-->
      <!--                      <button class="btn-small delete-attachment" (click)="onDeleteAttachment(attachment)">-->
      <!--                        x-->
      <!--                      </button>-->
      <!--                    </td>-->
      <!--                  </tr>-->
      <!--                  </tbody>-->
      <!--                </table>-->
      <!--              </div>-->

      <!--            </form>-->

      <form [formGroup]="rfcNumberForm" *ngIf="rfcNumberValidation">
        <div class="form-group">
          <label for="rfcNumberInput" class="info" >Fill the IETF RFC number</label>
          <div class="form-inline">
            <input  id="rfcNumberInput" formControlName="rfcNumber" type="text" class="form-control" placeholder="RFC number, e.g. 7223" />
            <button id="rfcNumberSubmit" class="btn btn-outline-primary" (click)="validateRfcNumber()">Validate</button>
          </div>
        </div>
      </form>

      <!--            <form [formGroup]="rfcNameForm">-->
      <!--              <div class="form-group">-->
      <!--                <label for="rfcNameInput" class="info">Fetch and validate IETF Draft by name</label>-->
      <!--                <div class="form-inline">-->
      <!--                  <div class="form-inline">-->
      <!--                    <input  id="rfcNameInput" formControlName="rfcName" type="text" class="form-control" placeholder="Draft name, e.g. draft-ietf-netmod-syslog-model" />-->
      <!--                    <button id="rfcNameSubmit" class="btn btn-outline-primary">Validate</button>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </form>-->


      <!--            <h2>Fetch, extract and validate YANG models using REST</h2>-->

      <!--            <p>The REST API described below allows you to perform the fetch, extract and validate steps provided using-->
      <!--              HTTP GET.</p>-->

      <!--            <p>The URLs below accepts GET requests and return their payload in JSON with the with the-->
      <!--              <code>Content-Type</code> header set to <code>application/json</code>.</p>-->

      <!--            <p><code>/api/rfc/&lt;rfc&gt;</code>-->
      <!--              This URL allows you to fetch, extract and validate YANG modules that are part of currently available IETF-->
      <!--              RFCs. Replace &lt;rfc&gt; with the <strong>number</strong> of the RFC, e.g.-->
      <!--              <mark>7223</mark>-->
      <!--              .-->
      <!--            </p>-->
      <!--            <p>-->
      <!--              <code>/api/draft/&gt;draft&lt;</code><br>-->
      <!--              This URL allows you to fetch, extract and validate YANG modules that are part of currently published IETF-->
      <!--              drafts. Replace &lt;draft&gt; with the canonical name of the draft, e.g.-->
      <!--              <mark>draft-ietf-netmod-ip-cfg-14</mark>-->
      <!--              . Remove-->
      <!--              the version number at the end of the name to retrieve the most recent version published (e.g.-->
      <!--              <mark>draft-ietf-netmod-ip-cfg</mark>-->
      <!--              ).-->
      <!--            </p>-->
      <!--            <p>-->
      <!--              The response JSON consists of a list of objects (one per extracted YANG modules) with the name of the-->
      <!--              extracted YANG module and the following content:-->
      <!--            </p>-->
      <!--            <ul>-->
      <!--              <li>A <code>xym_stderr</code> object with the output of the xym extraction step</li>-->
      <!--              <li>A <code>pyang_stderr</code> object with the output of the pyang validation step</li>-->
      <!--              <li>A <code>pyang_output</code> object with the output of the pyang tree rendering step</li>-->
      <!--              <li>A <code>confdc_stderr</code> object with the output of the confdc compiler step</li>-->
      <!--              <li>A <code>yanglint_stderr</code> object with the output of the yanglint validation step</li>-->
      <!--              <li>A <code>yangdump_stderr</code> object with the output of the yangdump-pro validation step</li>-->
      <!--            </ul>-->

      <!--            <p>-->
      <!--              <code>/api/versions</code><br>-->
      <!--              This URL returns the version strings for all involved components (validation application, xym, pyang,-->
      <!--              confdc, yanglint and yangdump-pro).-->
      <!--            </p>-->

      <!--            <h2>About</h2>-->
      <!--            <p>This application is written using the python <a href="https://www.djangoproject.com/">-->
      <!--              Django</a> framework using a combination of <a-->
      <!--              href="https://github.com/YangModels/yang/tree/master/tools/xym">xym</a> to fetch and extract YANG modules-->
      <!--              from IETF specifications, <a href="https://github.com/mbj4668/pyang">pyang</a> to validate the extracted-->
      <!--              modules, the confdc YANG validator and compiler from the <a href="http://www.tail-f.com/confd-basic/">ConfD</a>-->
      <!--              management agent toolkit, the <a href="https://github.com/CESNET/libyang">yanglint</a> YANG data modeling-->
      <!--              language parser and toolkit from CESNET and the yumawork`s application <a-->
      <!--                href="https://www.yumaworks.com/tools/yang-compiler/">yangdump-pro</a> - YANG language parser. The web-->
      <!--              application code is available in <a href="https://github.com/cmoberg/bottle-yang-extractor-validator">github</a>-->
      <!--              under a <a href="http://opensource.org/licenses/BSD-3-Clause">BSD 3-Clause License</a>. If you have-->
      <!--              feedback, feature requests or a bug to report, please open an <a-->
      <!--                href="https://github.com/cmoberg/bottle-yang-extractor-validator/issues">issue</a> on github.</p>-->
    </div>
  </div>
</div>
