.element {
  text-decoration: none;
  color: black;
  cursor: pointer;

  &:hover {
    text-decoration: none !important;
  }
}

.results-grid-container {
  height: calc(100% - 100px);
}

.green {
  color: green;
}

#collapseExpandDiv {
  a {
    margin-left: 10px;
    cursor: pointer;
  }
}

.infoline {
  a {
    line-height: 42px;
    padding-right: 10px;

    &:hover {
      text-decoration: none !important;
    }

    img {
      vertical-align: middle;
      margin-top: -5px;
    }
  }
}

.spinner-border {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-top: -5px;
}
