[submodule "web_root"]
	path = web_root
	url = https://github.com/YangCatalog/web_root.git
[submodule "backend"]
	path = backend
	url = https://github.com/YangCatalog/backend.git
[submodule "yangre"]
	path = yangre
	url = https://github.com/YangCatalog/yangre.git
[submodule "doc"]
	path = doc
	url = https://github.com/YangCatalog/doc.git
[submodule "bottle-yang-extractor-validator"]
	path = bottle-yang-extractor-validator
	url = https://github.com/YangCatalog/bottle-yang-extractor-validator.git
[submodule "sdo_analysis"]
	path = sdo_analysis
	url = https://github.com/YangCatalog/sdo_analysis.git
[submodule "admin_ui"]
	path = admin_ui
	url = https://github.com/YangCatalog/admin_ui.git
[submodule "yangcatalog-ui"]
	path = yangcatalog-ui
	url = git@github.com:YangCatalog/yangcatalog-ui.git
