version: '3'

services:

  confd:
    container_name: yc-confd
    build:
      context: .
      dockerfile: ./confd/Dockerfile
    ports:
      - "8008:8008"
      - "8888:8888"
    volumes:
      - ${KEY_FILE}:/a/system/yangcatalog.org.key
      - ${CERT_FILE}:/a/system/yangcatalog.org.crt
    networks:
      - confd
    healthcheck:
      test: ["CMD", "curl", "-f", "curl 'http://localhost:8008/restconf", "-u", "\"admin\":\"Y@ng_adm1n->(paSS)\"", "-i"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always

  backend:
    container_name: yc-backend
    image: catalog_backend_api:latest
    build:
      context: backend
      dockerfile: Dockerfile
      args:
        - YANG_ID=${YANG_ID}
        - YANG_GID=${YANG_GID}
        - CRON_MAIL_TO=${CRON_MAIL_TO}
    volumes:
      - ${YANG_RESOURCES}/conf/yangcatalog.conf:/etc/yangcatalog/yangcatalog.conf:rw
      - ./resources/main.cf:/etc/postfix/main.cf:rw
      - ${YANG_RESOURCES}:/var/yang:rw
      - ${YANG_RESOURCES}/nginx/YANG-modules:/usr/share/nginx/html/YANG-modules:rw
      - ${YANG_RESOURCES}/nginx/compatibility:/usr/share/nginx/html/compatibility:rw
      - ${YANG_RESOURCES}/nginx/private:/usr/share/nginx/html/private:rw
      - ${YANG_RESOURCES}/nginx/results:/usr/share/nginx/html/results:rw
      - ${YANG_RESOURCES}/nginx/stats:/usr/share/nginx/html/stats:rw
      - docs:/usr/share/nginx/html/slate
      - run:/var/run/yang
      - mysql:/var/run/mysqld
      - nginx-conf:/etc/nginx:rw
      - downloadables:/usr/share/nginx/html/downloadables
    networks:
      - confd
      - mysql
      - backend
    #  - elasticsearch
      - rabbitmq
      - frontend
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "curl 'http://localhost:8008/api/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always

  yang-search:
    container_name: yc-yang-search
    build:
      context: search
      dockerfile: Dockerfile
      args:
        - YANG_ID=${YANG_ID}
        - YANG_GID=${YANG_GID}
        - CRON_MAIL_TO=${CRON_MAIL_TO}
    volumes:
      - ${YANG_RESOURCES}/conf/yangcatalog.conf:/etc/yangcatalog/yangcatalog.conf:ro
      - ${YANG_RESOURCES}:/var/yang:rw
      - run:/var/run/yang
    networks:
      - mysql
      - backend
 #     - elasticsearch
      - frontend
    restart: always

  yangre:
    container_name: yc-yangre
    build:
      context: yangre
      dockerfile: Dockerfile
      args:
        - YANG_ID=${YANG_ID}
        - YANG_GID=${YANG_GID}
    volumes:
      - run:/var/run/yang
      - ${YANG_RESOURCES}:/var/yang:rw
    networks:
      - frontend
    restart: always

  api-receiver:
    container_name: yc-api-receiver
    image: catalog_backend_api:latest
    command: bash -c "chown -R yang:yang /var/run/yang; service postfix start; su yang; python api/receiver.py"
    volumes:
      - ${YANG_RESOURCES}/conf/yangcatalog.conf:/etc/yangcatalog/yangcatalog.conf:ro
      - ${YANG_RESOURCES}:/var/yang:rw
      - ${YANG_RESOURCES}/nginx/YANG-modules:/usr/share/nginx/html/YANG-modules:rw
      - ${YANG_RESOURCES}/nginx/compatibility:/usr/share/nginx/html/compatibility:rw
      - ${YANG_RESOURCES}/nginx/private:/usr/share/nginx/html/private:rw
      - ${YANG_RESOURCES}/nginx/results:/usr/share/nginx/html/results:rw
      - downloadables:/usr/share/nginx/html/downloadables
    networks:
      - confd
      - mysql
      - backend
#      - elasticsearch
      - rabbitmq
    restart: always

  api-recovery:
    container_name: yc-api-recovery
    image: catalog_backend_api:latest
    command: bash -c "source bin/activate; python recovery/recovery.py --type load --protocol http --ip yc-confd"
    volumes:
      - ${YANG_RESOURCES}/conf/yangcatalog.conf:/etc/yangcatalog/yangcatalog.conf:ro
      - ${YANG_RESOURCES}:/var/yang:rw
      - run:/var/run/yang
    networks:
      - confd
      - backend
      - redis
    depends_on:
      - confd

  frontend:
    container_name: yc-frontend
    build:
      context: .
      dockerfile: web_root/Dockerfile
      args:
        - YANG_ID=${YANG_ID}
        - YANG_GID=${YANG_GID}
        - NGINX_FILES=${NGINX_FILES}
    ports:
      - "80:80"
      - "443:443"
      - "10873:873"
    volumes:
      - ${YANG_RESOURCES}/nginx/YANG-modules:/usr/share/nginx/html/YANG-modules:rw
      - ${YANG_RESOURCES}/nginx/compatibility:/usr/share/nginx/html/compatibility:rw
      - ${YANG_RESOURCES}/nginx/private:/usr/share/nginx/html/private:rw
      - ${YANG_RESOURCES}/nginx/results:/usr/share/nginx/html/results:rw
      - ${YANG_RESOURCES}/nginx/stats:/usr/share/nginx/html/stats:ro
      - ${YANG_RESOURCES}/conf/yangcatalog.conf:/etc/yangcatalog/yangcatalog.conf:ro
      - webroot:/usr/share/nginx/html/admin
      - downloadables:/usr/share/nginx/html/downloadables
      - docs:/usr/share/nginx/html/slate
      - run:/var/run/yang
      - ${NGINX_LOG}:/var/log/nginx:rw
      - mysql:/var/run/mysqld
      - ${YANG_RESOURCES}:/var/yang:rw
      - ${KEY_FILE}:/a/system/yangcatalog.org.key
      - ${CERT_FILE}:/a/system/yangcatalog.org.crt
      - nginx-conf:/etc/nginx:rw
    networks:
      - mysql
      - frontend
    depends_on:
      - backend
      - yang-search
      - yangre
 #     - elasticsearch
    restart: always

  admin-ui:
    container_name: yc-admin-ui
    build:
      context: admin_ui
      dockerfile: Dockerfile
      args:
        - YANG_ID=${YANG_ID}
        - YANG_GID=${YANG_GID}
    volumes:
      - webroot:/usr/share/nginx/html/admin
      - ${YANG_RESOURCES}:/var/yang:rw
    networks:
      - mysql
      - frontend
    depends_on:
      - frontend
      - backend

  yangvalidator:
    container_name: yc-yangvalidator
    image: yangvalidator:latest
    build:
      context: .
      dockerfile: ./bottle-yang-extractor-validator/Dockerfile
      args:
        - YANG_ID=${YANG_ID}
        - YANG_GID=${YANG_GID}
    volumes:
      - ${YANG_RESOURCES}/conf/yangcatalog.conf:/etc/yangcatalog/yangcatalog.conf:ro
      - ${YANG_RESOURCES}:/var/yang:rw
      - run:/var/run/yang
    networks:
      - frontend
    restart: always

#  elasticsearch:
#    container_name: yc-elasticsearch
#    build:
#      context: elasticsearch
#      dockerfile: Dockerfile
#      args:
#        - ELASTICSEARCH_ID=${ELASTICSEARCH_ID}
#        - ELASTICSEARCH_GID=${ELASTICSEARCH_GID}
#    environment:
#      - bootstrap.memory_lock=true
#    ulimits:
#      memlock:
#        soft: -1
#        hard: -1
#    volumes:
#      - ${ELASTICSEARCH_LOG}:/var/log/elasticsearch
#      - ${ELASTICSEARCH_DATA}:/var/lib/elasticsearch
#    networks:
#      - elasticsearch
#    restart: always

  rabbit:
    container_name: yc-rabbit
    image: "rabbitmq:3-management"
    environment:
      RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
      RABBITMQ_DEFAULT_VHOST: "/"
    labels:
      NAME: "rabbitmq1"
    volumes: []
      #- "./enabled_plugins:/etc/rabbitmq/enabled_plugins"
      #- "./rabbitmq.config:/etc/rabbitmq/rabbitmq.config:ro"
      #- "./autocluster-0.4.1.ez:/usr/lib/rabbitmq/lib/rabbitmq_server-3.5.5/plugins/autocluster-0.4.1.ez"
    networks:
      - rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always

  mariadb:
    container_name: yc-mariadb
    build:
      context: mysql
      dockerfile: Dockerfile
      args:
        - MYSQL_ID=${MYSQL_ID}
        - MYSQL_GID=${MYSQL_GID}
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ${MYSQL_VOLUME}:/var/lib/mysql:rw
      - ./conf/mariadb:/docker-entrypoint-initdb.d:ro
      - mysql:/var/run/mysqld
    networks:
      - mysql
    restart: always

  sdo-analysis:
    container_name: yc-sdo-analysis
    build:
      context: .
      dockerfile: ./sdo_analysis/Dockerfile
      args:
        - YANG_ID=${YANG_ID}
        - YANG_GID=${YANG_GID}
        - CRON_MAIL_TO=${CRON_MAIL_TO}
    volumes:
      - ./sdo_analysis/bin/resources/IETF-draft-list-with-no-YANG-problem.txt:/etc/yangcatalog/IETF-draft-list-with-no-YANG-problem.txt:ro
      - ${YANG_RESOURCES}/conf/yangcatalog.conf:/etc/yangcatalog/yangcatalog.conf:ro
      - ${YANG_RESOURCES}:/var/yang:rw
      - ${YANG_RESOURCES}/nginx/YANG-modules:/usr/share/nginx/html/YANG-modules:rw
      - ${YANG_RESOURCES}/nginx/compatibility:/usr/share/nginx/html/compatibility:rw
      - ${YANG_RESOURCES}/nginx/private:/usr/share/nginx/html/private:rw
      - ${YANG_RESOURCES}/nginx/results:/usr/share/nginx/html/results:rw
      - downloadables:/usr/share/nginx/html/downloadables
    networks:
      - frontend
      - confd
    restart: always

  redis:
      container_name: yc-redis
      image: "redis:alpine"
      command: redis-server #--requirepass sOmE_sEcUrE_pAsS
     # ports:
     #  - "6379:6379"
      #volumes:
      # - $PWD/redis-data:/var/lib/redis
      #  - $PWD/redis.conf:/usr/local/etc/redis/redis.conf
      environment:
       - REDIS_REPLICATION_MODE=master
      networks:
        - redis

volumes:
  webroot:
  run:
  mysql:
  nginx-conf:
  docs:
  downloadables:

networks:
  frontend:
    driver: bridge
  mysql:
    driver: bridge
  confd:
    driver: bridge
  backend:
    driver: bridge
#  elasticsearch:
#    driver: bridge
  rabbitmq:
    driver: bridge
  redis:
    driver: bridge
