.bgimg-1 {
  background-image: url("/assets/img/yang-catalog-header.png");
  background-position: revert;
  background-color: #96e0ff;
  background-size: auto;

  min-height: 100%;
  background-repeat: no-repeat;
}

.yc-card {
  img {
    margin-bottom: 20px;
  }
}
