<header class="bgimg-1 yc-display-container yc-grayscale" id="home">
  <div class="yc-header-overlay"></div>
  <div class="yc-display-left yc-text-white max-w " style="padding:48px">

    <span class="yc-jumbo yc-hide-small">Find the model for your use case</span><br>
    <span class="yc-xxlarge yc-hide-large yc-hide-medium">Find the model for your use case</span><br>
    <span class="yc-large">
        <p>The YANG Catalog makes available a large and growing number of published models relevant to a range of use cases, including modules from organizations such as the Internet Engineering Task Force (IETF), the Broadband Forum, the IEEE, the Metro Ethernet Forum, companies, as well as open source communities such as the Open Daylight Project.</p>
        <p>YANG is a data modeling language developed in the IETF. It is used to model configuration and state data manipulated by protocols such as NETCONF and RESTCONF. YANG enables easier management of network elements, such as routers, and is widely used and deployed by many network equipment vendors and network operators. </p>
      </span>

    <p>
      <a href="{{myBasePath}}/home.html#webAccess"
         class="yc-button yc-white yc-padding-large yc-large yc-margin-top yc-opacity yc-hover-opacity-off">
        Let’s start
      </a>
    </p>

  </div>
</header>

<div class="yc-container yc-container-short" style="padding:128px 16px" id="webAccess">
  <div class="yc-row-padding yc-main-content">
    <div class="yc-col">
      <h3 class="yc-center"> Web Access
      </h3>
      <p> The YANG Catalog website provides links to:
      </p>
      <ul>
        <li>A <a href="/yang-search/">YANG Search</a>: a web frontend that allows for searches of the content of the
          YANG Catalog
        </li>
        <li>A <a href="{{myBasePath}}/yang-search/module_details/">YANG Module Detail Viewer</a>: a web frontend which
          displays the detailed metadata of any particular module
        </li>
        <li>A <a href="{{myBasePath}}/yangvalidator/">YANG Validator</a>: a web frontend that allows for validation of
          YANG modules and IETF Internet-Drafts
        </li>
        <li>A <a href="/yang-search/impact_analysis/">YANG Impact Analysis</a>: a tool which graphs the dependencies
          across individual YANG modules
        </li>
        <li>A <a href="/yangre">YANG Regex Validator</a>: a YANG regular expression validator which enables
          experimentation with W3C YANG
          "pattern" statements
        </li>
        <li>A NETCONF and REST (not RESTCONF-compliant yet) server loaded with the YANG module from
          <a href="https://tools.ietf.org/html/draft-clacla-netmod-model-catalog">draft-clacla-netmod-model-catalog</a>.
          It currently only allows public read access to the content. Feel free to
          reach out through the github forum if you are interested in write access. The username is oper and the
          password is oper.
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="yc-container yc-container-short yc-light-gray" style="padding:128px 16px">
  <div class="yc-row-padding yc-main-content">
    <h3 class="yc-center">API Accesss</h3>

    <p>
      The YANG Catalog includes a NETCONF and REST (not RESTCONF-compliant yet) server loaded with the YANG module from
      draft-clacla-netmod-model-catalog with public read access to the content. The username is oper and the password is
      oper. For write access, please <a href="{{myBasePath}}/create.html">submit a request via this form</a>.
    </p>
    <p>
      For access to the YANG Catalog’s REST interface using curl, use the following to receive the content of the
      organization’s subtree from the yang-catalog.yang module. (Note, the currently supported revision
      yang-catalog.yang is 2017-09-26)
    </p>
    <pre>$ curl https://yangcatalog.org/api/search/catalog</pre>
    <p>
      This will return JSON-formatted data. NOTE: the catalog is quite large and growing all the time. You may also use
      the following to pull module metadata:
    </p>
    <pre>$ curl https://yangcatalog.org/api/search/modules</pre>

    <p>
      The following will provide vendor implementation metadata:
    </p>
    <pre>$ curl https://yangcatalog.org/api/search/vendors</pre>

  </div>
</div>
<yc-footer shadowClass="yc-light-gray"></yc-footer>
