<div class="yc-container yc-app-container" style="padding:128px 16px 0 16px; display: flex">
  <div class="yc-row-padding flex-fill flex-column" style="display: flex;">
    <div class="yc-col ">
      <h2>YANG Impact Analysis</h2>

      <form [formGroup]="form">
        <div class="form-group">
          <ngb-alert type="danger" (close)="onCloseError(i)" role="alert" *ngFor="let error of errors; let i=index">
            {{ error.error && error['error']['description'] ? error.error['description'] : 'The application has encountered an unknown error.'}}
          </ngb-alert>

          <label class="control-label" for="moduleNameInput">Module Name</label>
          <div class="form-inline">
            <input id="moduleNameInput" formControlName="moduleName" type="text" class="form-control"
                   [ngbTypeahead]="autocomplete"
                   placeholder="Fill the module name"/>
            <label for="allowRfc" class="checkbox">
              <input id="allowRfc" formControlName="allowRfc" type="checkbox"/>
              <i class="skin"></i> <span>Include Ratified Standards</span>
            </label>
            <label for="allowSubmodules" class="checkbox">
              <input id="allowSubmodules" formControlName="allowSubmodules" type="checkbox"/>
              <i class="skin"></i> <span>Include Sub-modules</span>
            </label>
          </div>

          <button id="impactAnalysisSubmit" class="btn btn-outline-primary px-ml-5" (click)="submitModuleName()">
            <div class="spinner-border text-primary" role="status" *ngIf="loadingResults"></div>
            Show Impact Analysis
          </button>
        </div>
      </form>
    </div>
    <div class="yc-col flex-fill yc-relative" >
      <div class="vis-container" style="position: absolute; top: 0; left: 140px; width: calc(100% - 140px); height: 100%;">
        <yc-impact-analysis-visualisation topologyId="yang-impact-analysis-vis"
                                          [topologyData]="visData"
                                          [topologyOptions]="visOptions"
                                          (clickNode)="onClickNode($event)"
                                          (clickCanvas)="onClickCanvas()"
                                          *ngIf="visData"
                                          #visComponent>
        </yc-impact-analysis-visualisation>
      </div>

      <div class="node-context-menu" style="top: {{contextMenuTop}}px; left: {{contextMenuLeft}}px;" *ngIf="selectedNode">
        <yc-node-context-menu [node]="selectedNode" (loadMore)="onLoadMore()"></yc-node-context-menu>
      </div>
      <div class="node-context-menu" style="top: {{contextMenuTop}}px; left: {{contextMenuLeft}}px;" *ngIf="selectedCluster">
        <yc-cluster-context-menu [clusterId]="selectedCluster" (showNodes)="onShowClusterNodesList(selectedCluster)"></yc-cluster-context-menu>
      </div>
      <div class="impact-vis-toolbar" *ngIf="visData" (click)="onToolbarClick()">
        <strong>Cluster by</strong>
        <ul class="vis-legend">
          <li>
            <label for="cluster_company" class="checkbox">
              <input id="cluster_company" type="checkbox" [(ngModel)]="clusterByCompany" (change)="onClusterCompaniesToggle($event.target['checked'])" />
              <i class="skin"></i> <span>organization</span>
            </label>
          </li>
          <li>
            <label for="cluster_maturity" class="checkbox">
              <input id="cluster_maturity" type="checkbox" [(ngModel)]="clusterByMaturity" (change)="onClusterMaturityToggle($event.target['checked'])" />
              <i class="skin"></i> <span>maturity</span>
            </label>
          </li>
        </ul>

        <strong>Show Organizations</strong>
        <ul class="vis-legend">
          <li *ngFor="let org of organizations; let i=index">
            <label for="org_{{org}}" class="checkbox" (mouseout)="onOrgMouseOut()" (mousemove)="onOrgMouseMove(org)">
              <input id="org_{{org}}" type="checkbox" [disabled]="clusterByCompany || clusterByMaturity" [(ngModel)]="orgSelected[org]" (change)="onOrgToggle($event.target['checked'], org)" />
              <i class="skin"></i> <span style="color: {{orgColors[org]}}">{{org}}</span>
            </label>
          </li>
        </ul>
        <strong>Maturity level</strong>
        <ul class="vis-legend">
          <li *ngFor="let mat of maturities">
            <label for="mat_{{mat}}" class="checkbox" (mouseout)="onMatMouseOut()" (mousemove)="onMatMouseMove(mat)">
              <input id="mat_{{mat}}" type="checkbox" [disabled]="clusterByCompany || clusterByMaturity" [(ngModel)]="matSelected[mat]" (change)="onMatToggle($event.target['checked'], mat)" />
              <i class="skin"></i> <span>{{mat}}</span>
            </label>
          </li>
        </ul>
        <strong>Direction</strong>
        <ul class="vis-legend">
          <li *ngFor="let dir of directions">
            <label for="mat_{{dir}}" class="checkbox" (mouseout)="onDirMouseOut()" (mousemove)="onDirMouseMove(dir)">
              <input id="mat_{{dir}}" type="checkbox" [disabled]="clusterByCompany || clusterByMaturity" [(ngModel)]="dirSelected[dir]" (change)="onDirToggle($event.target['checked'], dir)" />
              <i class="skin"></i> <span>{{dir}}</span>
            </label>
          </li>
        </ul>

        <button id="rearrangeSubmit" class="btn btn-outline-primary px-ml-5" (click)="rearrange()">
          Rearrange graph
        </button>

      </div>


    </div>
  </div>
</div>
<yc-footer></yc-footer>
