; Copyright 2018 Cisco and its affiliates
;
; Licensed under the Apache License, Version 2.0 (the "License");
; you may not use this file except in compliance with the License.
; You may obtain a copy of the License at
;
;     http://www.apache.org/licenses/LICENSE-2.0
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS,
; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
; See the License for the specific language governing permissions and
; limitations under the License.

; __author__ = "Miroslav Kovac"
; __copyright__ = "Copyright 2018 Cisco and its affiliates"
; __license__ = "Apache License, Version 2.0"
; __email__ = "miroslav.kovac@pantheon.tech"

;
; This file MUST be located in /etc/yangcatalog/yangcatalog.conf
;

[DB-Section]

;for access to local database used by all tools
host=yc_mariadb_1
name-search=yang
name-users=yang_catalog
user=yang

;for access to elasticsearch database used by all tools
es-host=yc_elasticsearch_1
es-port=9200
es-aws=True

;for access to redis database used by all tools
redis-host=yc_redis_1
redis-port=6379

[Secrets-Section]

; The 'token' used to update the metadata of Yang Search
update-signature=@SEARCH_UPDATE_SIGNATURE@
; django secret key
django-secret-key=@SEARCH_DJANGO_SECRET_KEY@
; Django secret key
yangvalidator-secret-key=@YANGVALIDATOR_DJANGO_SECRET_KEY@
; Flask secret key
flask-secret-key=@FLASK_KEY@
; yang-catalog github user token for automatic pushing
yang-catalog-token=@YANG_CATALOG_TOKEN@
; yang-catalog admin github user token for automatic pushing
admin-token=@YANG_CATALOG_ADMIN_TOKEN@
; mysql password
mysql-password=@MARIADB_PASS@
; token to spark (Webex Teams)
webex-access-token=@SPARK_TOKEN@
; secret for rabbitMq
rabbitMq-password=@RABBITMQ_SECRET@
; credentials to confd
confd-credentials=@CONFD_CREDENTIALS@
; pass for private of yangcatalog
private-secret=@PRIVATE_SECRET@
; pass for elasticsearch
elk-secret="@ELK_SECRET"
;oidc client secret
client-id=@CLIENT_ID@
;oidc client secret
client-secret=@CLIENT_SECRET@

[General-Section]

; number of subprocesses to use when populating elasticsearch
yProcesses=2
; for debug purposes
debug=True
; Weather to call indexing or not
notify-index=True
; Username of repo owner
repository-username=yang-catalog
; name of the elasticsearch repostiory to save snapshots
elk-repo-name=yangcatalog_snapshots
; wether we run api under uwsgi
uwsgi=True
; protocol where confd runs
protocol-confd=http
; protocol where api runs
protocol-api=http
; repo config name
repo-config-name=@REPO_CONFIG_NAME@
; repo config email
repo-config-email=@REPO_CONFIG_MAIL@
; thread-count for build yindex
threads=2

[Certs-Section]

ssl-key=/etc/letsencrypt/live/yangcatalog.org/privkey.pem
; path to ssl certificate
ssl-cert=/etc/letsencrypt/live/yangcatalog.org/fullchain.pem

[Message-Section]

; from who an email is sent
email-from=no-reply@yangcatalog.org
; who are we sending email to
email-to=bclaise@cisco.com einarnn@cisco.com jclarke@cisco.com miroslav.kovac@pantheon.tech evyncke@cisco.com slavomir.mazur@pantheon.tech

[Web-Section]

; ip address where confd is running
api-port=8443
; port where confd is running
confd-port=8008
; ip address where confd is running
confd-ip=yc_confd_1
; ip address where yangcatalog is running
ip=35.158.116.10
; My own URI WEB_URL
my-uri=http://${ip}
; Location of the web server document root WEB
public-directory=/usr/share/nginx/html
; Location of the private (can be password protected) web server directory WEB_PRIVATE
private-directory=${public-directory}/private
; All compilation result files in www directory
result-html-dir=${public-directory}/results
; Downloadable files in www directory
downloadables-directory=${public-directory}/downloadables
; Where the diff files and trees output will be stored
save-diff-dir=${public-directory}/compatibility
; url to forked github repository by yang-catalog user
yang-models-forked-repo-url=https://api.github.com/repos/yang-catalog/
; suffix url to post request to fork the repository
yang-models-repo-url-suffix=api.github.com/repos/YangModels/yang/forks
; url to private ietf draft json file
ietf-draft-private-url=http://${ip}/private/IETFDraft.json
; url to tgz file containing all the ietf rfc files
ietf-RFC-tar-private-url=http://${ip}/downloadables/YANG-RFC.tgz
; suffix url to openconfig repository
openconfig-models-repo-url=https://github.com/openconfig/public.git
; oidc redirect uris
redirect-oidc=http://18.224.127.129/admin/healthcheck https://18.224.127.129/admin/healthcheck https://yangcatalog.org/admin/healthcheck
;oidc issuer
issuer=https://sandbox.ietf.org/api/openid

[Directory-Section]

; path to nginx configurations
nginx-conf=/etc/nginx
; The main yang dynamic data directory
var=/var/yang
; ietf RFC exception for new files messaging
exceptions=${var}/ietf-exceptions/exceptions.dat
; Temp files
temp=${var}/tmp
; Log files
logs=${var}/logs
; Back of all page compilation .htm files
backup=${var}/backup
; Create json backup of all yang modules directory
cache=${var}/cache
; Yangsuite directory
ys-dir=/home/miott/ysuite/yangsuite
; Users of yangsuite
ys-users=/var/yang/yangsuite/users
; Location with repository with all yang files
yang-models-dir=${var}/nonietf/yangmodels/yang
; All modules saved at one place with same name format <name>@revision.yang
save-file-dir=${var}/all_modules
; Save json requests from users with new modules to this directory
save-requests=${var}/requests
; where to save commit sha number
commit-dir=${var}/commit_dir/commit_msg
; where all the new files are saved to be added to database
changes-cache=${var}/yang2_repo_cache.dat
; where all the new files that failed are saved to be added to database
changes-cache-failed=${var}/yang2_repo_cache.dat.failed
; where all the removed files are saved to be removed from database
delete-cache=${var}/yang2_repo_deletes.dat
; Lock file for update_modules database
lock=${temp}/webhook.lock
; Lock file for update_modules database cronjob
lock-cron=${temp}/cronjob.lock
; pyang json yang trees output files
json-ytree=${var}/ytrees
;
; Location of modules
;
non-ietf-directory=${var}/nonietf
; All RFC & drafts
ietf-directory=${var}/ietf
; All modules
modules-directory=${var}/yang/modules

[Tool-Section]

; Location of PYANG tool
pyang-exec=/usr/bin/pyang
; Location of CONFD installation directory
confd-dir=/opt/confd
; Location of the CONFDC tool
confdc-exec=${confd-dir}/bin/confdc
; Complete list of all YANG modules location to be passed to confdc
confdc-yangpath-ieee=${Directory-Section:modules-directory}/ieee.draft:${Directory-Section:modules_directory}/ieee.published:${Directory-Section:modules_directory}/ieee.draft.1588:${Directory-Section:modules-directory}/ieee.published.1588:${Directory-Section:modules-directory}/ieee.draft.802.11:${Directory-Section:modules-directory}/ieee.published.802.11:${Directory-Section:modules-directory}/ieee.draft.802.1:${Directory-Section:modules-directory}/ieee.published.802.1:${Directory-Section:modules-directory}/ieee.draft.802.3:${Directory-Section:modules-directory}/ieee.published.802.3:${Directory-Section:modules-directory}/ieee.draft.802:${Directory-Section:modules-directory}/ieee.published.802
confdc-yangpath=${Directory-Section:modules_directory}/mef:${Directory-Section:modules_directory}/open-config-main:${Directory-Section:modules_directory}/YANG-rfc:${confdc-yangpath-ieee}

[RabbitMQ-Section]

;for access to local database used by all tools
host=yc_rabbit_1
username=@RABBITMQ_USER@
virtual-host=/
port=5672