@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "yc-main.scss";


#myNavbar {
  a {
    color: black;
  }
}

.tab-content {
  padding-top: 25px;
}

p {
  padding-top: 25px;
}

.has-error {
  .control-label {
    color: red;
  }

}

button {
  .spinner-border {
    width: 14px;
    height: 14px;
    vertical-align: baseline;
    margin-right: 10px;
  }

}

label.radio {
  span {
    padding-left: 10px;
  }
}

.px-ml-5 {
  margin-left: 5px;
}

button i.bi {
  padding-right: 7px;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.tooltip-inner {
  white-space: pre-line;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
