apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -c
    kompose.version: 1.21.0 (992df58d8)
  labels:
    io.kompose.service: yangvalidator
  name: yangvalidator
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: yangvalidator
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -c
        kompose.version: 1.21.0 (992df58d8)
      labels:
        io.kompose.network/tools-ieft-org: "true"
        io.kompose.network/rsync: "true"
        io.kompose.network/frontend: "true"
        io.kompose.service: yangvalidator
    spec:
      securityContext:
        fsGroup: {{ .Values.YANG_GID }}
      containers:
      - image: localhost:32000/yangvalidator:latest
        name: yangvalidator
        volumeMounts:
        - mountPath: /etc/yangcatalog/yangcatalog.conf
          name: yangcatalog-conf-pv
          readOnly: true
        - mountPath: /var/yang
          name: yang-resources-pv
        - mountPath: /var/run/yang
          name: run-pv
      restartPolicy: Always
      volumes:
      - name: yangcatalog-conf-pv
        hostPath:
          path: {{ .Values.YANG_RESOURCES }}/conf/yangcatalog.conf
      - name: yang-resources-pv
        hostPath:
          path: {{ .Values.YANG_RESOURCES }}
      - name: run-pv
        persistentVolumeClaim:
          claimName: run-pvc
