<div class="yc-container " style="padding:128px 16px" id="webAccess">
  <div class="yc-row-padding yc-main-content">
    <div class="yc-col">

      <h3 class="yc-center">Contact</h3>

      <p>
        The YANG Catalog is a work in progress. We welcome <a href="https://www.yangcatalog.org/contribute.html">contributions</a>
        to the metadata contained in the YANG Catalog,
        as well as the open source code that powers it.
      </p>
      <p>
        Want more information? You may subscribe to the <a
        href="https://www.marcuscom.com/mailman/listinfo/yangcatalog-announce">yangcatalog-announce email list</a> or
        contact us by email <a
        href="mailto:info@yangcatalog.org">info@yangcatalog.org</a>.
      </p>


    </div>
  </div>
</div>
<yc-footer></yc-footer>
