<div class="yc-container " style="padding:128px 16px" id="webAccess">
  <div class="yc-row-padding yc-main-content">
    <div class="yc-col">

      <header class="entry-header">
        <h2 class="entry-title">YANG Catalog Latest Development (IETF 100&nbsp;Hackathon)
        </h2>

        <!-- .entry-meta -->
      </header>
      <!-- .entry-header -->


      <div class="entry-content">
        <p><a href="http://www.claise.be/2017/11/yang-catalog-latest-development-ietf-100-hackathon/" rel="nofollow">IETF
          100 Hackathon</a></p>
      </div>
      <div class="entry-content">
        <p><a href="http://www.claise.be/2017/07/yang-catalog-latest-development-ietf-99-hackathon/" rel="nofollow">IETF
          99 Hackathon</a></p>
      </div>
      <div class="entry-content">
        <p><a href="http://www.claise.be/2017/04/yang-catalog-latest-development-ietf-98-hackathon/" rel="nofollow">IETF
          98 Hackathon</a></p>
      </div>
      <!-- .entry-content -->
    </div>
  </div>
</div>
