<div class="modal-header">
  <h2 class="flex-fill">YANG Definition for {{path}}</h2>
  <button type="button" class="close" aria-label="Close" (click)="onCancelClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">
    {{ error['error'] ?  error['error']['description'] : error.message || 'The application has encountered an unknown error.' }}
  </ngb-alert>


  <pre [innerHTML]="resultStr" *ngIf="!error"></pre>
</div>
