<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cluster Nodes List</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancelClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <yc-ag-grid tableId="nodesList"
              domLayout="autoHeight"
              [suppressHorizontalScroll]="false"
              [defaultColDef]="defaultColDef"
              [pagination]="false"
              [allColumnDefs]="colDefs"
              [rowData]="nodesList">
    <ng-template let-row #actionsColumnTemplate>
      <a href="{{myBaseUrl}}/yang-search/module_details/{{row['name']}}@{{row['revision']}}">
        <img src="{{myBaseUrl}}/assets/img/details.png" title="Module details for {{row['module-name']}}" border="0">
        Module details</a><br>
      <a href="{{myBaseUrl}}/yang-search/yang_tree/{{row['name']}}@{{row['revision']}}">
        <img src="{{myBaseUrl}}/assets/img/leaf.png" title="Tree View for {{row['name']}}" border="0">
        Tree View</a><br>
      <a href="{{myBaseUrl}}/yang-search/impact_analysis/{{row['name']}}@{{row['revision']}}">
        <img src="{{myBaseUrl}}/assets/img/impact.png" title="Impact Analysis for {{row['name']}}"
             border="0">
        Impact Analysis</a><br>
    </ng-template>
  </yc-ag-grid>

</div>
<div class="modal-footer">
  <div class="flex-fill"></div>
  <button type="button" id="cancelDepsSelectionBtn" class="btn btn-outline-dark" (click)="onCancelClick()">Close</button>
</div>
