.thumbs {
  display: inline-block;
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;

  .thumb {
    cursor: pointer;
    width: 250px;
    float: left;
    margin-right: 30px;
  }
}

.dependency-thumbs {

  .thumb-container {
    position: relative;
    float: left;
    display: inline;

    p {
      clear: left;
      width: 200px;
      font-size: 12px;
    }
  }

  .thumb {
    width: 200px;
  }
}

.results-grid-container {
  clear: both;
  padding-top: 30px;

}

.private-header {
  h2, h3 {
    display: inline;
  }

  h2 {
    cursor: pointer;
  }

  h3 {
    &::before {
      content: ' >> ';
    }
  }

}


.nav-tabs {
  padding-top: 30px;
}

.links-list {
  padding-top: 30px;
}
