<div class="yc-container yc-container-short" style="padding:128px 16px" id="webAccess">
  <div class="yc-row-padding yc-main-content">
    <div class="yc-col">
      <h3 class="yc-center">About</h3>
      <p>
        YANG, a data modeling language developed by the Internet Engineering Task Force (IETF), enables the reuse of
        data models across equipment from different vendors and networks managed by different operators. It is widely
        used by network operators to automate the configuration and control of network elements. YANG Catalog was
        developed through a collaboration between the IETF and the Broadband Forum, and contains many data models,
        including from other Standards Development Organizations (SDOs) such as the IEEE, as well as some
        vendor-specific data models. Interest and participation from other SDOs, equipment vendors, open source projects
        and network operators is encouraged.
      </p>

      <p>
        The goal of the YANG Catalog is to become a reference for all YANG modules available in the industry. It aims to
        allow YANG developers to search on what exists already, and to enable network operators to discover the more
        mature YANG models to automate services. The YANG Catalog contains pointers to the YANG modules themselves and
        contains metadata related to those YANG modules. Metadata include the type of module, its maturity level,
        whether or not it is implemented, and contact information.
      </p>
    </div>
  </div>
</div>

<div class="yc-container yc-container-short yc-light-gray" style="padding:128px 16px" id="capabilities">
  <div class="yc-row-padding yc-main-content">
    <div class="yc-col">
      <h3 class="yc-center">Capabilities</h3>
      <p>
        Beyond being a simple module repository, the YANG Catalog provides:
      </p>
      <ul>
        <li>
          Validation of YANG modules (including IETF Internet-Drafts)
        </li>
        <li>
          Related metadata regarding implementation
        </li>
        <li>
          Visualization of dependencies between YANG modules
        </li>
        <li>
          Search capabilities on any YANG type and metadata
        </li>
        <li>
          REST APIs to query and post any content
        </li>
        <li>
          Connection to data model-driven management with open source tools such as the YANG Explorer (a GUI-based tool
          to explore modules, generate some code, and connect the devices) and the YANG Development Kit (a more advanced
          tool for code generation).
        </li>
      </ul>

    </div>
  </div>
</div>
<yc-footer shadowClass="yc-light-gray"></yc-footer>
