<div class="yc-container " style="padding:128px 16px" id="webAccess">
  <div class="yc-row-padding yc-main-content">
    <div class="yc-col">
      <div class="content-wrapper clear">

        <div id="primary" class="content-area" style="width: 100%; margin-left: 10px; margin-right: 10px;">
          <main id="main" class="site-main" role="main">

            <div class="entry-title">Table of Contents</div>
            <p>What are you trying to do?</p>
            <ul style="list-style-type:circle">
              <li><a href="#model_creator">I am a vendor or Standars Development Organization, and I want to provide my module metadata.</a></li>
              <li><a href="#vendor">I am a vendor, and I want to provide my implementation metadata.</a></li>
              <li><a href="#model_get">I want to search for module metadata.</a></li>
              <li><a href="#model_delete">I am a vendor or Standards Development Organization, and I want to delete my module metadata.</a></li>
              <li><a href="#hack">Hack YANG Catalog.</a></li>
            </ul>
            <hr/>

            <article id="post-3" class="post-3 page type-page status-publish has-post-thumbnail hentry">
              <a name="model_creator"></a>
              <div class="entry-title">Add Model Metadata</div>
              <div class="entry-content">
                <p>If you are a Standard Development Organization (SDO), an open source project, or an organization such as a vendor that creates proprietary models,
                  and you want to add your models' metadata to the Catalog, do the following.  <b>NOTE:</b> the Catalog is not a clearing house for model
                  downloads.  While it provides metadata about models, it only provides links to external sites from which the models themselves can be download.</p>

                <ol>
                  <li>Check your modules into <a href="https://github.com">GitHub</a>. Ideally submit your modules directly to the <a href="https://github.com/YangModels/yang">
                    https://github.com/YangModels/yang</a> repository via a <a href="https://help.github.com/articles/about-pull-requests/">pull request</a>. Alternatively, you can use any public repository, and then also add a git sub-module to the
                    <a href="https://github.com/YangModels/yang">
                      https://github.com/YangModels/yang</a> repository via a <a href="https://help.github.com/articles/about-pull-requests/">pull request</a>.</li>
                  <li><a href="/create.html">Request</a> a new YANG Catalog API account if you do not have one already.</li>
                  <li>Once the account is requested, wait until confirmation before proceeding.</li>
                  <li>Use an HTTP PUT request to <a href="/api/modules">https://yangcatalog.org/api/modules</a> with a JSON payload modeled after the <a href="https://raw.githubusercontent.com/xorrkaz/netmod-yang-catalog/master/module-metadata.yang">
                    model-metadata.yang</a> model (current revision: <b>2017-07-27</b>). Note, this module requires the
                    <a href="https://raw.githubusercontent.com/xorrkaz/netmod-yang-catalog/master/yang-catalog.yang">yang-catalog</a> module. The module-metadata.yang has the following tree structure:<br/>
                    <pre>
module: module-metadata
    +--rw modules
       +--rw module* [name revision organization]
          +--rw name                     yang:yang-identifier
          +--rw revision                 union
          +--rw generated-from?          enumeration
          +--rw maturity-level?          enumeration
          +--rw document-name?           string
          +--rw author-email?            yc:email-address
          +--rw reference?               inet:uri
          +--rw module-classification    enumeration
          +--rw organization             string
          +--rw ietf
          |  +--rw ietf-wg?   string
          +--rw source-file
             +--rw owner         string
             +--rw repository    string
             +--rw path          path
             +--rw branch?       string
</pre> For example:<br/>
                    <pre>
PUT https://yangcatalog.org/api/modules
Content-type: application/json

                      &#123;
                      "modules": &#123;
         "module": [
                      &#123;
                      "name": "example-jukebox",
                      "revision": "2014-01-20",
                      "organization": "example",
                      "maturity-level": "ratified",
                      "author-email": "foo@bar.com",
                      "module-classification": "network-element",
                      "source-file": &#123;
             "repository": "foo",
             "owner": "bar",
             "path": "standard/ietf/DRAFT/example-jukebox.yang"
           &#125;
         &#125;
       ]
     &#125;
  &#125;
</pre>
                  </li>
                  <li>After submitting the request, if you are authorized, you will receive a job ID in the JSON-formatted reply. For example:<br/>
                    <pre>
  &#123;
                      "info": "Verification successful",
                      "job-id": "88bd8c4c-8809-4de8-85c8-39d522d4bcdf"
  &#125;
</pre>
                  <li>Perform an HTTP GET request to <b>https://yangcatalog.org/api/job/&#123;job_id&#125;</b> to get the status of the job. The job result will remain "In progress" until the job completes. When the job has completed you will receive either a "Finished"
                  (on success) or "Failed" (on failure) result. Reason will remain null if the result is other then "Failed, otherwise it will give a information on why it failed. For example, after obtaining the job ID above, perform an HTTP GET to https://yangcatalog.org/api/job/88bd8c4c-8809-4de8-85c8-39d522d4bcdf to get the current status:<br/>
                  <pre>
                  &#123;
                    "info": &#123;
                      "job-id": "88bd8c4c-8809-4de8-85c8-39d522d4bcdf",
                      "reason": null,
                      "result": "In progress"
                    &#125;
                  &#125;
                  </pre>
                  <li>Once the job has completed successfully, test the result by querying the <a href="#model_get">search API</a>.</li>
                  <li>Contact <a href="mailto:info@yangcatalog.org">info@yangcatalog.org</a> if you run into problems.</li>
                  </ol>
                  <p>While some metadata can be extracted from models by the API backend (these are called <i>extractable</i> fields), metadata such as "maturity-level" and "conformance-type" must be provided by the model creator (these are the <i>non-extractable</i> fields). The reason the module-metadata model is broken out from the main yang-catalog module is to focus more on the non-extractable fields. The more metadata from the module-metadata model that can be included the more robust and detailed
                    the Catalog will be.</p>
                  </div>
                  </article>

                  <article id="post-4" class="post-4 page type-page status-publish has-post-thumbnail hentry">
                    <a name="vendor"></a>
                    <div class="entry-title">Add Implementation Metadata</div>
                  <div class="entry-content">
                    <p>If you are a vendor that implements YANG models in your product, then you can upload platform metadata to the Catalog in order to specify what platforms (and software releases) implement which YANG models. This is done using the following
                    steps:
                    </p>

                  <ol>
                  <li><a href="/create.html">Request</a> a new YANG Catalog API account if you do not have one already.</li>
                  <li>Once the account is requested, wait until confirmation before proceeding.</li>
                  <li>Use an HTTP PUT request to <a href="/api/platforms">https://yangcatalog.org/api/platforms</a> with a JSON payload modeled after the <a href="https://raw.githubusercontent.com/xorrkaz/netmod-yang-catalog/master/platform-implementation-metadata.yang">
               platform-implementation-metadata.yang</a> model (current revision: <b>2017-09-27</b>). Note, his module requires the
                    <a href="https://raw.githubusercontent.com/xorrkaz/netmod-yang-catalog/master/yang-catalog.yang">yang-catalog</a> module. The platform-implementation-metadata module has the following tree structure:<br/>
                    <pre>
 module: platform-implementation-metadata
     +--rw platforms
        +--rw platform* [vendor name software-version software-flavor]
           +--rw vendor                  string
           +--rw name                    string
           +--rw netconf-capabilities*   string
           +--rw product-ids*            string
           +--rw software-version        string
           +--rw software-flavor         string
           +--rw os-version?             string
           +--rw feature-set?            string
           +--rw os-type?                string
           +--rw module-list-file
              +--rw type?         enumeration
              +--rw owner         string
              +--rw repository    string
              +--rw path          yc:path
              +--rw branch?       string
     </pre> For example:<br/>
                    <pre>
     PUT https://yangcatalog.org/api/platforms
     Content-type: application/json

     &#123;
       "platforms" &#123;
           "platform": [
               &#123;
                  "vendor": "example",
                    "name": "baz",
                    "module-list-file": &#123;
                      "type": "capabilities",
                        "repository": "foo",
                        "owner": "bar",
                        "path": "vendor/example/baz/baz-netconf-capability.xml"
                      &#125;,
                    "platform-ids": [
                       "BAZ4000", "BAZ4100"
                    ],
                    "software-flavor": "ALL",
                    "software-version": "1.2.3",
                    "os-type": "bazOS"
                    &#125;
                    ]
                    &#125;
                    &#125;
                    </pre>
                  </li>
                  <li>After submitting the request, if you are authorized, you will receive a job ID in the JSON-formatted reply. For example:<br/>
                    <pre>
&#123;
                      "info": "Verification successful",
                      "job-id": "88bd8c4c-8809-4de8-85c8-39d522d4bcdf"
&#125;
</pre>
                  <li>Perform an HTTP GET request to <b>https://yangcatalog.org/api/job/&#123;job_id&#125;</b> to get the status of the job. The job result will remain "In progress" until the job completes. When the job has completed you will receive either a "Finished"
                    (on success) or "Failed" (on failure) result. For example, after obtaining the job ID above, perform an HTTP GET to https://yangcatalog.org/api/job/88bd8c4c-8809-4de8-85c8-39d522d4bcdf to get the current status:<br/>
                    <pre>
&#123;
                      "info": &#123;
    "job-id": "88bd8c4c-8809-4de8-85c8-39d522d4bcdf",
    "reason": null,
    "result": "In progress"
  &#125;
&#125;
</pre>
                  <li>Once the job has completed successfully, test the result by querying the <a href="#model_get">search API</a>.</li>
                  <li>Contact <a href="mailto:info@yangcatalog.org">info@yangcatalog.org</a> if you run into problems.</li>
                </ol>
              </div>
            </article>

            <article id="post-5" class="post-5 page type-page status-publish has-post-thumbnail hentry">
              <a name="model_get"></a>
              <div class="entry-title">Get Module and Implementation Metadata</div>
              <div class="entry-content">
                <p>If you want to search for metadata on a specific module, or you are looking for modules that contain specific metadata, you can do the following:</p>
                <ol>
                  <li>Use an HTTP GET request to
                    <b>https://yangcatalog.org/api/search/modules/&#123;name&#125;,&#123;revision&#125;,&#123;organization&#125;</b> to receive all the metadata for a specific module and revision.</li>
                  <li>Use an HTTP GET request to
                    <b>https://yangcatalog.org/api/search/&#123;key&#125;/&#123;value&#125;</b> to receive all the modules that contain a specific metadata.
                    <br/>For example, to find all modules with a successful compilation status: <a href="https://yangcatalog.org/api/search/compilation-status/passed">
                      https://yangcatalog.org/api/search/compilation-status/passed</a>
                    <br/>To find all modules from the netconf working group in the IETF: <a href="https://yangcatalog.org/api/search/ietf/ietf-wg/netconf">
                      https://yangcatalog.org/api/search/ietf/ietf-wg/netconf</a>
                    <br/>This method will work for any node within the <a href="https://raw.githubusercontent.com/xorrkaz/netmod-yang-catalog/master/yang-catalog.yang">
                      yang-catalog</a>:<br/>
                    <pre>
    +--rw catalog
       +--rw modules
       |  +--rw module* [name revision organization]
       |     +--rw name                     yang:yang-identifier
       |     +--rw revision                 union
       |     +--rw organization             string
       |     +--rw ietf
       |     |  +--rw ietf-wg?   string
       |     +--rw namespace                inet:uri
       |     +--rw schema?                  inet:uri
       |     +--rw generated-from?          enumeration
       |     +--rw maturity-level?          enumeration
       |     +--rw document-name?           string
       |     +--rw author-email?            yc:email-address
       |     +--rw reference?               inet:uri
       |     +--rw module-classification    enumeration
       |     +--rw compilation-status?      enumeration
       |     +--rw compilation-result?      inet:uri
       |     +--rw prefix?                  string
       |     +--rw yang-version?            enumeration
       |     +--rw description?             string
       |     +--rw contact?                 string
       |     +--rw module-type?             enumeration
       |     +--rw belongs-to?              yang:yang-identifier
       |     +--rw tree-type?               enumeration
       |     +--rw submodule* [name revision]
       |     |  +--rw name        yang:yang-identifier
       |     |  +--rw revision    union
       |     |  +--rw schema?     inet:uri
       |     +--rw dependencies* [name]
       |     |  +--rw name        yang:yang-identifier
       |     |  +--rw revision?   union
       |     |  +--rw schema?     inet:uri
       |     +--rw dependents* [name]
       |     |  +--rw name        yang:yang-identifier
       |     |  +--rw revision?   union
       |     |  +--rw schema?     inet:uri
       |     +--rw semantic-version?           yc:semver
       |     +--rw derived-semantic-version?   yc:semver
       |     +--rw implementations
       |        +--rw implementation* [vendor platform software-version software-flavor]
       |           +--rw vendor              string
       |           +--rw platform            string
       |           +--rw software-version    string
       |           +--rw software-flavor     string
       |           +--rw os-version?         string
       |           +--rw feature-set?        string
       |           +--rw os-type?            string
       |           +--rw feature*            yang:yang-identifier
       |           +--rw deviation* [name revision]
       |           |  +--rw name        yang:yang-identifier
       |           |  +--rw revision    union
       |           +--rw conformance-type?   enumeration
       +--rw vendors
          +--rw vendor* [name]
             +--rw name         string
             +--rw platforms
                +--rw platform* [name]
                   +--rw name                 string
                   +--rw software-versions
                      +--rw software-version* [name]
                         +--rw name                string
                         +--rw software-flavors
                            +--rw software-flavor* [name]
                               +--rw name         string
                               +--rw protocols
                               |  +--rw protocol* [name]
                               |     +--rw name                identityref
                               |     +--rw protocol-version*   string
                               |     +--rw capabilities*       string
                               +--rw modules
                                  +--rw module* [name revision organization]
                                     +--rw name                -> /catalog/modules/module/name
                                     +--rw revision            -> /catalog/modules/module/revision
                                     +--rw organization        -> /catalog/modules/module/organization
                                     +--rw os-version?         string
                                     +--rw feature-set?        string
                                     +--rw os-type?            string
                                     +--rw feature*            yang:yang-identifier
                                     +--rw deviation* [name revision]
                                     |  +--rw name        yang:yang-identifier
                                     |  +--rw revision    union
                                     +--rw conformance-type?   enumeration
                 </pre>
                  </li>
                </ol>
              </div>
            </article>

            <article id="post-6" class="post-6 page type-page status-publish has-post-thumbnail hentry">
              <a name="model_delete"></a>
              <div class="entry-title">Delete Module Metadata</div>
              <div class="entry-content">
                <p>If you need to delete metadata relative to one of your specific modules, do the following:</p>
                <ol>
                  <li><a href="/create.html">Request</a> a new YANG Catalog API account if you do not have one already.</li>
                  <li>Once the account is requested, wait until confirmation before proceeding.</li>
                  <li>Use an HTTP DELETE request to delete specific module
                    <b>https://yangcatalog.org/api/modules/module/&#123;name&#125;,&#123;revision&#125;,&#123;organization&#125;</b>
                  </li>
                  <li>Use an HTTP DELETE request to delete modules on specific implementation metadata
                    <b>https://yangcatalog.org/api/vendors/vendor/&#123;name&#125;</b>.
                    You can continue deeper on the vendors branch up to software-flavor
                  </li>
                  <li>Use an HTTP DELETE request to do a bulk delete on modules specified with json body
                    <b>https://yangcatalog.org/api/modules</b>.
                    <pre>
&#123;
                      "input": &#123;
    "modules": [
                      &#123; "name": "module-foo", "revision": "revision-foo", "organization": "organization-foo" &#125;,
                      &#123; "name": "module-bar", "revision": "revision-bar", "organization": "organization-bar" &#125;
    ]
  &#125;
&#125;
                      </pre>
                  </li>
                </ol>
                <p><b>NOTE:</b> Deleting implementation metadata is currently not possible.</p>
              </div>
            </article>

            <article id="post-7" class="post-7 page type-page status-publish has-post-thumbnail hentry">
              <a name="hack"></a>
              <div class="entry-title">Hacking Yangcatalog.org</div>
              <div class="entry-content">
                <p>All of the code behind <a href="https://yangcatalog.org">yangcatalog.org</a> is Open Source. However, it is spread out across multiple <a href="https://github.org">
                  GitHub</a> repositories. If you are interested in hacking the code that directly drives the YANG Catalog, pick your repository from the list below:</p>
                <ul>
                  <li>YANG Catalog API and backend in <a href="https://github.com/YangCatalog/backend">https://github.com/YangCatalog/backend</a></li>
                  <li>YANG Catalog Search in <a href="https://github.com/YangCatalog/search">https://github.com/YangCatalog/search</a></li>
                  <li>YANG Catalog Regex validator in <a href="https://github.com/YangCatalog/yangre">https://github.com/YangCatalog/yangre</a></li>
                  <li>YANG Catalog static web pages in <a href="https://github.com/YangCatalog/web_root">https://github.com/YangCatalog/web_root</a></li>
                  <li>YANG Models <a href="https://github.com/YangModels/yang/">https://github.com/YangModels/yang/</a>
                    Models in the vendor and standard directories
                  </li>
                  <li>YANG Catalog and related API models in <a href="https://github.com/xorrkaz/netmod-yang-catalog">https://github.com/xorrkaz/netmod-yang-catalog</a></li>
                  <li>Capabilities and metadata generation scripts in <a href="https://github.com/einarnn/ncc">https://github.com/einarnn/ncc</a></li>
                  <li>ConfD (not Open Source) is at <a href="https://developer.cisco.com/site/confD/">https://developer.cisco.com/site/confD/</a></li>
                </ul>
                <p>In order to contribute back to YANG Catalog, checkout one of the repositories, make your changes, and then create a
                  <a href="https://help.github.com/articles/about-pull-requests/">pull request</a> to have your code merged.</p>

                <p>To get updates about changes with YANG Catalog, <a href="https://www.marcuscom.com/mailman/listinfo/yangcatalog-announce">subscribe
                </a> to <b>announce@yangcatalog.org</b>.</p>
                <p>Download a YangCatalog <a href="https://www.getpostman.com/">postman</a> collection
                  <a href="/downloadables/yangcatalog.postman_collection.json" download="yangcatalog.postman_collection.json"> here </a> to
                  explore the API with examples.</p>
              </div>
              <!-- .entry-content -->

            </article>
            <!-- #post-## -->



          </main>
          <!-- #main -->
        </div>
        <!-- #primary -->

      </div>
    </div>
  </div>
</div>
